<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>filtros.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SegurancaFilter</filter-name>
        <filter-class>filtros.SegurancaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SegurancaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.SalvarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.acesso.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirClienteServlet</servlet-name>
        <servlet-class>controle.usuario.InserirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.acesso.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.AtualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.RemoverUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.VerUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <servlet-class>controle.categoria.ListarCategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.RemoverCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.FormCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>controle.produto.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormProdutoServlet</servlet-name>
        <servlet-class>controle.produto.FormProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.SalvarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.produto.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.acesso.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>controle.usuario.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <servlet-class>controle.produto.UploadProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProdutoFotoServlet</servlet-name>
        <servlet-class>controle.produto.VerProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoFotoServlet</servlet-name>
        <servlet-class>controle.produto.AtualizarProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosFaltantesServlet</servlet-name>
        <servlet-class>controle.relatorio.ListarProdutosFaltantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarCompraServlet</servlet-name>
        <servlet-class>controle.compra.SalvarCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>controle.compra.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMinhasComprasServlet</servlet-name>
        <servlet-class>controle.compra.ListarMinhasComprasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioComprasClienteServlet</servlet-name>
        <servlet-class>controle.relatorio.RelatorioComprasClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendasDiariasServlet</servlet-name>
        <servlet-class>controle.relatorio.RelatorioVendasDiariasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessarRelatoriosServlet</servlet-name>
        <servlet-class>controle.relatorio.AcessarRelatoriosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <url-pattern>/admin/SalvarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirClienteServlet</servlet-name>
        <url-pattern>/InserirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverUsuarioServlet</servlet-name>
        <url-pattern>/RemoverUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <url-pattern>/VerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <url-pattern>/admin/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <url-pattern>/admin/RemoverCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <url-pattern>/admin/FormCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/admin/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormProdutoServlet</servlet-name>
        <url-pattern>/admin/FormProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <url-pattern>/admin/SalvarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/admin/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <url-pattern>/admin/UploadProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProdutoFotoServlet</servlet-name>
        <url-pattern>/VerProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoFotoServlet</servlet-name>
        <url-pattern>/admin/AtualizarProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosFaltantesServlet</servlet-name>
        <url-pattern>/admin/ListarProdutosFaltantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarCompraServlet</servlet-name>
        <url-pattern>/SalvarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMinhasComprasServlet</servlet-name>
        <url-pattern>/ListarMinhasCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioComprasClienteServlet</servlet-name>
        <url-pattern>/admin/RelatorioComprasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendasDiariasServlet</servlet-name>
        <url-pattern>/admin/RelatorioVendasDiarias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessarRelatoriosServlet</servlet-name>
        <url-pattern>/admin/AcessarRelatorios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
